<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>系统登录</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .login-wrap {
            width: 500px;
            margin: 100px auto;
        }
    </style>
</head>
<body>


<div class="login-wrap">
    <form action="/login/" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="col">
                <div><h2 class="text-center">欢迎登录</h2></div>
            </div>
        </div>


        <div class="form-group" action="/login/" method="post">
            {% csrf_token %}
            <label for="formGroupExampleInput">账号</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="输入账号" name="user_id">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">密码</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="输入密码" name="password">
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <button class="btn btn-primary btn-block" type="submit">登录</button>
                </div>
                <div class="col">
                    <button class="btn btn-secondary btn-block" type="reset">重置</button>
                </div>

            </div>
            <p>{{ error }}</p>
        </div>
    </form>

</div>

</body>
</html>