{% extends "./base_template.html" %}

{% block mainbody %}
<body>

<div class="row" style="padding-top: 0px;">
<div class="col-md-12">

<table class="table table-striped">
<div style="position:absolute;  right:10px; width:10px; ">
<tr><th>自动化测试报告-单一接口扫描<td>{{ apis.create_time }}</td><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
<tr><th>用例总数</th> <td>{{ apiscounts }}</td></tr> {# 前端读取定义的变量#}
<tr><th>通过</th><td>{{ apis_pass_counts }}</td><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
<tr><th>不通过</th><td><a style='color:red'>{{ apis_fail_counts }}</a> </td><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>

</div>

</table>


<!-- 单一接口测试用例-->
<table class="table table-striped" style="table-layout: fixed;">
<style>
td {
      white-space:nowrap;overflow:hidden;text-overflow: ellipsis;
}
</style>

<thead>

<tr><th>不通过详情</th><td>
<tr>
<th>ID</th><th>产品</th><th>用例名称</th><th>URL地址</th><th>参数=值</th><th>方法</th><th>预期</th><th>响应数据</th><th>测试结果</th><th>执行时间</th>
</tr>
</thead>
<tbody>
{% for apis in apiss %}
<tr>
{% if apis.apistatus == 0 %}
<td>{{apis.id}}</td>
<td>{{ apis.Product.productname }}</td>
<td>{{ apis.apiname }}</td>
<td>{{ apis.apiurl }}</td>
<td>{{ apis.apiparamvalue }}</td>
<td>{{ apis.apimethod }}</td>
<td>{{ apis.apiresult }}</td>
<td title="{{ apis.apiresponse }}">{{ apis.apiresponse}}</td>
<td><a style='color:red'>{{ apis.apistatus }}</a></td>
<td>{{ apis.create_time }}</td>

{% else %}

{% endif %}

</tr>
{% endfor %}
</tbody>
</table>

</div>
</div>


</body>
{% endblock %}